.first {
    text-align: center;
    text-decoration-color: dimgray;
    background-color: rgb(233, 232, 159);

}

.found {
    text-align: center;
    background-color: rgb(109, 177, 120);
 
}

.list {
    list-style: none;
    float: left;
 
    padding-right: 47px;
    padding-bottom: 0px;
  }