
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Groupie - Tracker</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
</head>
<body>   
    <div class="LINKHOME">
    <a href="/" class="linkhome">Go to main page</a>
    </div>
    <div class="Groupie-Tracker"> 
        <p class="TextGroupieTracker" > {{ .Name }} </p>
    </div> 
    <div class="BodyofPer">
        <section action="/info/" method="GET">
        <div class="headblock">
        <img class="Image" src= {{ .Image }}  alt="Картинка группы" />
        <div class="info">
        <p class="ARTISTS">Members: / {{range .Members}}  {{.}} / {{end}}</p>
        <p class="CreationDate">Creation date: {{ .CreationDate }}</p>
        <p class="FirstAlbum">First album: {{ .FirstAlbum }}</p>
        </div>
    </div>
    <br>
    <br>
  
    <div class="conserts">
        
        <h2 class="members">Concerts:</h2> 
      
        {{ range $key, $value := .ConcertDates }} 
            <!-- <br> -->
                    
            <p class="members">Сities: {{ $value.Location }}</p>
            <p class="members">Dates: </p>
                {{ range $value.Dates }} 
                <p class="members"> {{.}} </p> 
              
                {{end}}
                <br>
             
                {{end}}
          
            </div>    
         
        </div>
        </section>
    
    </div>   
</body> 