
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Groupie - Tracker</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
</head>
<body>   
    <a href="/" class="members">Go to main page</a>
    <div class="Groupie-Tracker"> 
        <p class="TextGroupieTracker" > {{ .Name }} </p>
    </div> 
    <div class="BodyofPer">
        <section action="/info/" method="GET">
        <div class="headblock">
        <img class="Image" src= {{ .Image }}  alt="Картинка группы" />
        <div class="info">
        <p class="members">Members: / {{range .Members}}  {{.}} / {{end}}</p>
        <p class="CreationDate">Creation date: {{ .CreationDate }}</p>
        <p class="FirstAlbum">First album: {{ .FirstAlbum }}</p>
        </div>
    </div>
    <br>
    <br>
        <h2>Concerts:</h2 > 
            {{ range $key, $value := .ConcertDates }} 
            <br>
            <p>Город: {{ $value.Location }}</p>
            <p>Даты: </p>
                {{ range $value.Dates }} 
                <p> {{.}} </p> 
                {{end}}
            
            {{end}}

        
        </section>
    
    </div>   
</body> 